<div class="container">
  <div class="row">
    <form novalidate class="col s12" (submit)="onSubmit($event)" [formGroup]="formContact">
      <div class="row">
        <div class="input-field col s6">
          <input  id="name" [class.invalid]="formContact.get('name').errors !== null && formContact.get('name').touched" type="text" formControlName="name"/>
          <label for="name"
            [attr.data-error]="_errorMessages.name"
            class="active">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="surname" [class.invalid]="formContact.get('surname').errors !== null && formContact.get('surname').touched"  type="text" formControlName="surname"/>
            <label for="surname"
            [attr.data-error]="_errorMessages.surname"
            class="active">Surname</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
              <input id="email" [class.invalid]="formContact.get('email').errors !== null && formContact.get('email').touched"  type="text" formControlName="email"/>
              <label for="email"
              [attr.data-error]="_errorMessages.email"
              class="active">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="zip" type="text" formControlName="zip"/>
                <label for="zip"
                class="active">Zip</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                  <select materialize="material_select" [materializeSelectOptions]="countries" formControlName="country" >
                      <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
                    </select>
                </div>
            </div>
            <button class="btn waves-effect waves-light" [disabled]="formContact.invalid" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
    </form>
  </div>
</div>
